body {
  background-color: #726a95;
}

.App{
  background-color: #a0c1b8;
  min-height: 500px;
  width: 500px;
  margin: 50px auto;
  padding: 5px 0px;
}

#to-do-form input {
  background-color: #f4ebc1;
  height: 50px;
  width :300px;
  border:0;
  margin: 25px;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 15px;
}

#to-do-form input::placeholder {
  font-size: 15px;
}

#to-do-form input:focus {
  outline: none;
}

#to-do-form button {
  height: 40px;
  width: 100px;
  background-color: #726a95; 
  border: 0;
  border-radius: 5px;
  color: #f4ebc1;
  font-size: 15px;
  cursor: pointer;
  font-weight: bolder;
}

#to-do-form button:focus {
  outline: none;
}